<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>About the Game</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="about">

    <div class="about-container">
        <h1>About the Game</h1>

        <p>
            here we are with our first launch of this MMO this game will recive updates and maintenance and support
            Play with your friends and try to complete the 2 official missions in game
        </p>

        <a href="/" class="btn back">⬅ Back</a>
    </div>

</body>
</html>
