<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Follow Us</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="follow">

    <div class="follow-container">
        <h1>Follow Us on Discord: https://discord.gg/UHDsqkgfxs</h1>

        <!-- IMMAGINE FISSA -->
        <img src="/public/images/Follow.png"
             alt="Follow Us"
             class="follow-image">

        <a href="/" class="btn back">⬅ Back</a>
    </div>

</body>
</html>
