<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>ESCAPE-FROM-THE-COURT-STREET-WARS-MMO</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="PlayTheGame">

    <div class="about-container">
        <h1>DOWNLOAD NOW</h1>

        <p>
            download game from link: https://www.mediafire.com/file/0k01gpdtryraxcw/Escape_from_the_court_street_wars_MMO.rar/file and fight for the glory'
        </p>

        <a href="/" class="btn back">⬅ Back</a>
    </div>

</body>
</html>
