<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>ESCAPE-FROM-THE-COURT-STREET-WARS-MMO</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="PlayTheGame">

    <div class="about-container">
        <h1>GAME IN DEVELOPMENT</h1>

        <p>
            the game isn't available yet, we are working with an MMO with realistic maps, and trying to do better sound shoots and animations'
        </p>

        <a href="/" class="btn back">⬅ Back</a>
    </div>

</body>
</html>
