<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Screenshots</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="screenshots">

    <h1 class="screenshots-title">Screenshots</h1>

    <div class="art-grid">
        <a href="/public/images/Art1.png" target="_blank">
            <img src="/public/images/Art1.png"
                 alt="Taurus 23"
                 class="art-thumb">
        </a>

        <a href="/public/images/Art2.png" target="_blank">
            <img src="/public/images/Art2.png"
                 alt="Pablo & Cosmo at midnight in town"
                 class="art-thumb">
        </a>

        <a href="/public/images/Art3.png" target="_blank">
            <img src="/public/images/Art3.png"
                 alt="Kurumi Tokisaki - sexy on stairs"
                 class="art-thumb">
        </a>

        <a href="/public/images/Art4.png" target="_blank">
            <img src="/public/images/Art4.png"
                 alt="Kurumi Tokisaki - sexy on the beach"
                 class="art-thumb">
        </a>
    </div>

    <a href="/" class="btn back">⬅ Back</a>

</body>
</html>
