<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Screenshots</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="screenshots">

    <h1 class="screenshots-title">Screenshots</h1>

    <div class="art-grid">
        <a href="/public/images/the mercenary psycho.png" target="_blank">
            <img src="/public/images/the mercenary psycho.png"
                 alt="Taurus 23"
                 class="art-thumb">
        </a>

        <a href="/public/images/Pablo & Cosmo during illecit activities.png" target="_blank">
            <img src="/public/images/Pablo & Cosmo during illecit activities.png"
                 alt="Pablo & Cosmo at midnight in town"
                 class="art-thumb">
        </a>

        <a href="/public/images/Kurumi Tokisaki Sexy on the stairs.png" target="_blank">
            <img src="/public/images/Kurumi Tokisaki Sexy on the stairs.png"
                 alt="Kurumi Tokisaki - sexy on stairs"
                 class="art-thumb">
        </a>

        <a href="/public/images/Kurumi Tokisaki Sexy on the beach.png" target="_blank">
            <img src="/public/images/Kurumi Tokisaki Sexy on the beach.png"
                 alt="Kurumi Tokisaki - sexy on the beach"
                 class="art-thumb">
        </a>

        <a href="/public/images/Quen Bee in heat.png" target="_blank">
            <img src="/public/images/Quen Bee in heat.png"
                 alt="Queen Bee Horny Avaliable soon!"
                 class="art-thumb">
        </a>
    </div>

    <a href="/" class="btn back">⬅ Back</a>

</body>
</html>
